<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id,value: current_user.id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    	<%= f.label :source %><br />
		<% options = [['CSV','CSV']] %>
	    <%= select_tag :source,options_for_select(options,'CSV'),name: 'profile[source]',id: 'profile_source' %>
  </div>
  <div class="field">
    	<%= f.label :destination %><br />
	    <%
		options = []
		Client.where("user_id = #{current_user.id} AND active = 1").order('name ASC').each do |c|
			options << [c.name,c.id]
		end
		%>
	    <%= select_tag :destination,options_for_select(options),name: 'profile[destination]',id: 'profile_destination' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
