<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field B7">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field B7">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field B7">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field B7">
    <%= select_tag :role,options_for_select([['Admin','admin'],['Agent','agent'],['End-User','end-user']]) %>
  </div>
  <div class="actions B7">
    <%= f.submit %>
  </div>
<% end %>